<!doctype html>
<html lang="ja">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/bootstrap-datepicker.min.css">

    <title>TODOリスト</title>
</head>
<body>
<div class="container">
    <h2 class="bg-light mt-3 py-1">TODOリスト</h2>

    <button type="button" id="" class="btn btn-outline-primary mb-3" data-toggle="modal" data-target="#todoModal">+</button>

    <!-- Modal -->
    <div class="modal" id="todoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">タスク登録</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning" role="alert" id="divAlert">
                        <span id="inputAlert"></span>
                    </div>
                    <form action="">
                        <div class="form-group">
                            <label for="inputName" class="">タスク</label>
                            <input type="text" class="form-control" id="inputTask" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="inputLimit" class="">期限</label>
                            <input type="text" class="form-control" id="inputLimit" placeholder="">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
                    <button type="button" class="btn btn-primary" id="btnAdd">登録する</button>
                </div>
            </div>
        </div>
    </div>

    <!-- タブを画面に表示する -->
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="todolist-tab" data-toggle="tab" href="#todolist" role="tab" aria-controls="todolist" aria-selected="true">未完了のタスク</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="complete-tab" data-toggle="tab" href="#complete" role="tab" aria-controls="complete" aria-selected="false">完了したタスク</a>
        </li>
    </ul>

    <!-- タブの中身 -->
    <div class="tab-content" id="myTabContent">
        <!-- 未完了のタスクリスト -->
        <div class="tab-pane fade show active" id="todolist" role="tabpanel" aria-labelledby="todolist-tab">
            <div class="table-responsive">
                <table class="table table-hover" id="todoList">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>タスク内容</th>
                        <th>期限</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .unCompleted}}
                        <tr>
                            <td><button type="button" class="btn btn-outline-danger btn-sm mx-0 btnDel" id="btnDel" data-todo-id="{{.ID}}">OK</button>{{.ID}}</td>
                            <td>{{.Name}}</td>
                            <td>{{.Deadline}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 完了したタスクリスト -->
        <div class="tab-pane fade" id="complete" role="tabpanel" aria-labelledby="complete-tab">
            <div class="table-responsive">
                <table class="table table-hover" id="completeList">
                    <thead>
                    <tr>
                        <th>タスク内容</th>
                        <th>期限</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{range .completed}}
                        <tr>
                            <td>{{.Name}}</td>
                            <td>{{.Deadline}}</td>
                        </tr>
                    {{end}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="../assets/js/jquery.js"></script>
<script src="../assets/js/popper.js"></script>
<script src="../assets/js/bootstrap.js"></script>
<script src="../assets/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/js/bootstrap-datepicker.ja.min.js"></script>
<script src="../assets/js/todo.js"></script>
</body>
</html>